basePath: /
definitions:
  delivery.APIBadRequestErrorResponse:
    description: API bad request error response structure
    properties:
      error:
        example: Something went wrong
        type: string
      status:
        example: 400
        type: integer
    type: object
  delivery.APIInternalServerErrorResponse:
    description: API internal server error response structure
    properties:
      error:
        example: Something went wrong
        type: string
      status:
        example: 500
        type: integer
    type: object
  delivery.APIResponse:
    description: API response wrapper
    properties:
      body: {}
      status:
        example: 200
        type: integer
    type: object
  delivery.Album:
    description: A music album entity
    properties:
      artist:
        $ref: '#/definitions/delivery.AlbumArtist'
      id:
        example: 1
        type: integer
      thumbnail_url:
        example: https://example.com/album.jpg
        type: string
      title:
        example: Anticyclone
        type: string
    type: object
  delivery.AlbumArtist:
    description: An artist of an album entity
    properties:
      id:
        example: 1
        type: integer
      title:
        example: Lagtrain
        type: string
    type: object
  delivery.Artist:
    description: A music artist entity
    properties:
      id:
        example: 1
        type: integer
      thumbnail_url:
        example: https://example.com/artist.jpg
        type: string
      title:
        example: Inabakumori
        type: string
    type: object
  delivery.Track:
    description: A music track entity
    properties:
      album:
        $ref: '#/definitions/delivery.TrackAlbum'
      artist:
        $ref: '#/definitions/delivery.TrackArtist'
      duration:
        example: 216
        type: integer
      id:
        example: 1
        type: integer
      thumbnail_url:
        example: https://example.com/image.jpg
        type: string
      title:
        example: Lagtrain
        type: string
    type: object
  delivery.TrackAlbum:
    description: An album of a track entity
    properties:
      id:
        example: 1
        type: integer
      title:
        example: Lagtrain
        type: string
    type: object
  delivery.TrackArtist:
    description: An artist of a track entity
    properties:
      id:
        example: 1
        type: integer
      title:
        example: Lagtrain
        type: string
    type: object
host: returnzero.ru
info:
  contact: {}
  description: This is the API server for Return Zero music app.
  title: Return Zero API
  version: "1.0"
paths:
  /albums:
    get:
      consumes:
      - application/json
      description: Get a list of albums with optional pagination filters
      parameters:
      - description: 'Offset (default: 0)'
        in: query
        name: offset
        type: integer
      - description: 'Limit (default: 10, max: 100)'
        in: query
        name: limit
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: List of albums
          schema:
            allOf:
            - $ref: '#/definitions/delivery.APIResponse'
            - properties:
                body:
                  items:
                    $ref: '#/definitions/delivery.Album'
                  type: array
              type: object
        "400":
          description: Bad request - invalid filters
          schema:
            $ref: '#/definitions/delivery.APIBadRequestErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/delivery.APIInternalServerErrorResponse'
      summary: Get albums
      tags:
      - albums
  /artists:
    get:
      consumes:
      - application/json
      description: Get a list of artists with optional pagination filters
      parameters:
      - description: 'Offset (default: 0)'
        in: query
        name: offset
        type: integer
      - description: 'Limit (default: 10, max: 100)'
        in: query
        name: limit
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: List of artists
          schema:
            allOf:
            - $ref: '#/definitions/delivery.APIResponse'
            - properties:
                body:
                  items:
                    $ref: '#/definitions/delivery.Artist'
                  type: array
              type: object
        "400":
          description: Bad request - invalid filters
          schema:
            $ref: '#/definitions/delivery.APIBadRequestErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/delivery.APIInternalServerErrorResponse'
      summary: Get artists
      tags:
      - artists
  /tracks:
    get:
      consumes:
      - application/json
      description: Get a list of tracks with optional pagination filters
      parameters:
      - description: 'Offset (default: 0)'
        in: query
        name: offset
        type: integer
      - description: 'Limit (default: 10, max: 100)'
        in: query
        name: limit
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: List of tracks
          schema:
            allOf:
            - $ref: '#/definitions/delivery.APIResponse'
            - properties:
                body:
                  items:
                    $ref: '#/definitions/delivery.Track'
                  type: array
              type: object
        "400":
          description: Bad request - invalid filters
          schema:
            $ref: '#/definitions/delivery.APIBadRequestErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/delivery.APIInternalServerErrorResponse'
      summary: Get tracks
      tags:
      - tracks
swagger: "2.0"
